[Service]
ExecStartPre=/usr/bin/mkdir -p /sys/kernel/config/device-tree/overlays/axelera
ExecStart=/usr/bin/sh -c 'cat /lib/firmware/overlays/axelera-metis.dtbo > /sys/kernel/config/device-tree/overlays/axelera/dtbo'
